@import 'util';
@import 'vars';
@import 'typography';

body {
  background-color: #fff;
}

.base-link,
.base-link:link,
.base-link:visited {
  color: $blue--base;
}
.base-link:hover,
.base-link.selected {
  color: $drkblue--base;
}

// Background-colors

.cherry-blossom {
  @include linear-gradient(#FBD3E9, #BB377D);
}


/* ======================
   === HEADER SECTION ===
   ======================*/

.header {
  background: #fff;
  border-bottom: 1px solid #ddd;

  .logo {
    text-decoration: none;
    color: $font-color--dark;
    .text {
      font-size: $font-size--xxl;
      font-family: $norican;
    }
    i {
      font-size: $font-size--lg;
      position: relative;
      left: -4px;
    }
  }
}
.main-nav {
  ul {
    padding: 20px 0;
  }
  li {display: inline-block;}
  a,
  a:link,
  a:visited {
    color: $trans-black;
    background: transparent;
    text-decoration: none;
    padding: $tenth-space;
    @include border-radius(3px);
  }
  a:hover {
    background: #ccc;
  }
  a.selected {
    color: $trans-white;
    background: $trans-black;
  }
}

.html {
  background: $background--dark;
  font-size: $font-size--md;
  padding: $tenth-space;
  margin: $fifth-space;
  @include border-radius(3px);
  .tag {
    color: $eggnog;
  }
  .string {
    color: #ccc;
  }
}

/* =======================
   === CONTENT SECTION ===
   =======================*/

  .container {
    max-width: 1160px;
    margin: 0 auto;
  }
  .content {
    padding: 0 20px 60px 20px;
  }



/* ======================
   === FOOTER SECTION ===
   ======================*/

.footer {
  background: #fff;
  padding: 0 0 40px 0;
  border-top: 1px solid #ddd;
  .social {

    i {
      border: 1px solid #ccc;
      color: #333;
      padding: 5px 7px;

    }
  }
  .social-links {
    padding: 20px 0;
  }
  .github i {

  }
  .twitter i {

  }

}
.break {
  height: 10px;
  margin: 60px auto;
  text-align: center;
}
.break.dark {
  background: $trans-black;
  span {
    background: #fff;
    padding: 5px 10px;
    position: relative;
    top: -13px;
    border: solid $trans-black;
    border-width: 0 5px;
  }
  i {
    font-size: $font-size--md;
    margin: 0 10px;
  }
}

.break-vertical {
  width: 10px;
  background: $trans-black;
}

/* ===========================
   === POST LAYOUT SECTION ===
   ===========================*/

/* Post Image Layout titled */

.post-display {
  text-decoration: none;
  .img {

  }
  .gimg {

  }
  .desc-block {
    width: 100%;
    display: block;
  }
  .title {
    background: $trans-black;
    color: $trans-white;
    padding: 5px 0 5px 10px;
    margin: 0;
    font-weight: normal;
    display: block;
  }
  .description {
    font-size: $font-size--sm;
    color: $background--dark;
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-align: right;
    line-height: 26px;
    display: block;
  }
  .vert-break {
    width: 5px;
    background: #ccc;
    margin: 0 10px;
    border: 1px solid transparent;
  }
  .timestamp {
    background: $trans-black;
    padding: 5px;
    margin-left: 5px;
    color: $trans-white;
  }

}

/* Post Image Layout titled */


.responsive {
  width: 100%;
}



/* =========================
   === RESPONSIVE STYLES ===
   =========================*/


/* min-width: 1200px | Desktop */

@media only screen and (max-width:75em){


}

/* min-width: 1024px | Tablet Landscape, Laptop, Desktop */

@media only screen and (max-width:64em) {

}

/* min-width: 768px | Tablet Portrait, smart phones */

@media only screen and (max-width:48em){

  /* Main navigation (header & footer) */

  .header .main-nav {
    margin: 10px 0 0 0;
  }
  .main-nav {
    background: #efefef;
    display: block;
    text-align: center;
    width: 1000%;
  }
  .social-links {
    padding: 20px 0;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .header .logo {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}
