/******************************************************************
Site Name: Morgan Segura personal website
Author: Morgan Segura

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {
}

h4, .h4 {

}

h5, .h5 {

}
.massive-headline {
  	font-weight: 800;
  	font-size: 3rem;
  	line-height: 0;
}
.section-headline,
.icon-headline h4 {
	font-family: $sans-serif;
	font-weight: 700;
}
h3.section-headline {
	text-transform: uppercase;
	font-size: 1.6rem;
}
.section-headline {
	font-size: 1.8rem;
	color: darken($text-color, 5%);
}
.icon-headline {
	font-size: 4rem;
	text-align: center;
	color: $bones-pink;
	h4 {
		font-size: 1.5rem;
	}
	i {}
}

hr {
	color: $tan;
	box-shadow: 0 2px 7px darken($tan,9%);
}
p.contain {
	max-width: 80%;
	margin: 0 auto;
}

/*********************
HEADER STYLES
*********************/
header {

}

.header {
	// background: linear-gradient($bones-pink, darken($bones-pink, 8%));
}

a.logo {
    display: block;
    text-align: center;
    font-family: $cursive;
    font-size: 3rem;
	color: $bones-pink;
	//color: $white;
  &:hover, &:focus {
    text-decoration: none;
  	color: $bones-pink;
  }
	p {
		margin: 0;
		padding: .5rem;
	}
  i {
    font-size: 2.5rem;
	margin-left: 3px;
  }
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0 auto;
    text-align: center;
    display: block;

	li {

		a {
			display: block;
			text-decoration: none;
			padding: 0.75em;

			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}
		}
	}
}
/*************************
SECTIONS & CONTENT STYLES
*************************/

.full-image {
	display: block;
	border: solid $gray;
	border-width: 0;
}
.index {
	color: $white;
	padding: 6rem 0;
	height: 100%;
	background:
  		linear-gradient(to top right, rgba(240,29,79,1), rgba(121,88,159,0)),
			url('//avante.biz/wp-content/uploads/Technology-Backgrounds/Technology-Backgrounds-032.jpg') 0 0 no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.grayed {
	border: solid darken($tan,5%);
	border-width: 1px 0;
	background: linear-gradient(to top right, $white, $tan);
	padding: 2rem 0;
}


/*********************
IMAGE & ICON STYLES
*********************/
i.scroll-down-white {
	display: inline-block;
	text-align: center;
	font-size: 6em;
	background: $bones-pink;
	background-width: 50px;
	color: $white;
}
i.show-down {
	position: relative;
	top: -36px;
	font-size: 2.5em;
	background: $white;
	color: darken($tan,3%);
}
.thumb-gap .img-thumbnail {
	//padding: 1rem;
	//background: lighten($tan, 5%);
	border: solid darken($tan,5%);
	border-width: 0;

}
.img-thumbnail,
.img-fluid {
	margin-bottom: 2rem;
}



/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $charcoal;
	padding: 4rem;
	color: $light-gray;
	margin: 0;
}

	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}
