<section class="home">

    <div class="content">

        <h3 class="break dark"><span>Blog</span></h3>

        <div class="container">
            <!-- Row Section [row] -->
            <div class="row profile-block clearfix">
                <!-- Posts Grid 3up [posts 3up] -->
                <div ng-repeat="gallery in home.galleries" class="block-item col-xs-12 col-sm-6 col-md-4 col-md-4">
                    <!-- Post {{index}} [post{{index}}] -->
                    <a data-lightbox="gallery" data-title="{{gallery.prettyTitle}}" href="{{gallery.image}}" class="post-display large single">
                        <div class="img">
                            <img id="-{{index}}" src="{{gallery.image}}" alt="{{gallery.prettyTitle}}" class="gimg responsive">
                        </div>
                        <h5 class="title">
                            {{gallery.prettyTitle}}
                        </h5>
                        <p class="description">
                            {{gallery.prettyDesc}}
                            <date class="timestamp">
                                {{gallery.timestamp}}
                            </date>
                        </p>
                    </a>
                    <!-- Post {{index}} [post{{index}}] -->
                </div><!-- End [posts] -->

            </div><!-- End [row] -->

        </div><!-- End [container] -->

        <h3 class="break dark"><span>Look out Below</span></h3>





        <div class="container">
            <h1>This is an H1 tag </h1>
            <h2>This is an H2 tag </h2>
            <h3>This is an H3 tag </h3>
            <h4>This is an H4 tag </h4>
            <h5>This is an H5 tag </h5>
            <h6>This is an H6 tag</h6>
            <p>
                Turnip greens yarrow rice bean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.
                Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin
                onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts
                nori azuki bean chickweed potato bell pepper artichoke.
            </p>
            <p>
                Turnip greens yarrow rice bean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.
                Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin
                onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts
                nori azuki bean chickweed potato bell pepper artichoke.
            </p>
            <!--
            <h1 class="heading -large">{{ home.title | ExampleFilter }}</h1>

            <h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

            <img src="images/angular.png" height="100" />
            <img src="images/gulp.png" height="100" />
            <img src="images/browserify.png" height="100" />

            <hr/>
            <div example-directive title="WOW!" click-message="You clicked me!">Directive is not loaded.</div>
            -->
        </div>
    </div>
</section>
