<section class="home">

    <div class="content">

        <div class="container">
            <!-- Row Section [row] -->
            <div class="row profile-block clearfix">

                <!-- Post 1 [post 1] -->
                <div ng-repeat="gallery in galleries" class="col-xs-12 col-sm-6 col-md-4 col-md-4">
                    {{gallery}}
                    <a href="" class="post-display large single">
                        <img src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-12-15/16746567617_df3f5188385ecb43cad1_512.png" alt="" class="img responsive">
                        <h5 class="title">
                            Feeling entitled
                        </h5>
                        <p class="description">
                            This is the one I tell you

                            <date class="timestamp">
                                6/17/17
                            </date>
                        </p>
                    </a>
                </div><!-- End [post 1] -->

            </div><!-- End [row] -->
        </div><!-- End [container] -->

        <h3 class="break dark"><span>Look out Below</span></h3>
        
        <div class="container">
            <h1>This is an H1 tag </h1>
            <h2>This is an H2 tag </h2>
            <h3>This is an H3 tag </h3>
            <h4>This is an H4 tag </h4>
            <h5>This is an H5 tag </h5>
            <h6>This is an H6 tag</h6>
            <p>
                Turnip greens yarrow rice bean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.
                Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin
                onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts
                nori azuki bean chickweed potato bell pepper artichoke.
            </p>
            <p>
                Turnip greens yarrow rice bean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.
                Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin
                onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts
                nori azuki bean chickweed potato bell pepper artichoke.
            </p>

        </div>
    </div>
</section>



